Repository ec-202504/ec-202504c: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

frontend-format:
  run: npx @biomejs/biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

frontend-lint:
  run: npx @biomejs/biome lint --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

backend-format:
  run: ./gradlew spotlessApply
  stage_fixed: true

backend-lint:
  run: ./gradlew checkstyleMain

chore: cart用のsqlを追加
  README.md
  backend/document/sql/insert-cart-products.sql
  package-lock.json
Due: none

chore: lintエラーを修正
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/service/BookService.java
  backend/src/main/java/com/example/service/OrderProductService.java
Due: backend-format, backend-lint

feat: 同じ商品を追加する場合にカートの数量を増やすように修正
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/repository/CartProductRepository.java
  backend/src/main/java/com/example/service/CartProductService.java
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

refactor: カート追加ロジックをリファクタリング
  backend/src/main/java/com/example/controller/CartProductController.java
Due: backend-format, backend-lint

コンフリ解消
  backend/src/main/java/com/example/controller/PcController.java
Due: backend-format, backend-lint

コンフリ解消の際に出たバグの改修
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

コンフリ解消の際に出たバグの改修
  backend/src/main/java/com/example/controller/PcController.java
Due: backend-format, backend-lint

feat: 本をカートに追加できるように
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/types/constants.ts
Due: frontend-format, frontend-lint

fix: userIdをバックエンドで取得するように
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/dto/request/AddCartProductRequest.java
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/addCartRequest.ts
  frontend/src/features/product/types/index.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

chore: javadocコメントを修正
  backend/src/main/java/com/example/service/CartProductService.java
Due: backend-format, backend-lint

chore: 詳細の遷移先を切り替え
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/features/product/types/constants.ts
Due: frontend-format, frontend-lint

fix: dbにproduct_id=0が入らないように
  backend/src/main/java/com/example/controller/CartProductController.java
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix: key重複によるエラーを解消
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/features/product/components/Sidebar.tsx
Due: frontend-format, frontend-lint

fix: 本の詳細画面で画像が表示されるように
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/BookInfo.tsx
  frontend/src/features/product/components/BookSpecList.tsx
  frontend/src/features/product/types/Book.ts
Due: frontend-format, frontend-lint

fix: reviewの点を修正
  frontend/src/features/product/types/index.ts
Due: frontend-format, frontend-lint

feat: 注文履歴を取得するバックエンドを実装
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/dto/response/OrderHistoryResponse.java
  backend/src/main/java/com/example/dto/response/OrderProductResponse.java
  backend/src/main/java/com/example/model/Order.java
  backend/src/main/java/com/example/repository/OrderRepository.java
  backend/src/main/java/com/example/service/OrderService.java
  frontend/src/features/order/OrderHistory.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: フロントで注文履歴を表示させるように
  backend/src/main/java/com/example/dto/response/OrderProductResponse.java
  backend/src/main/java/com/example/service/OrderService.java
  frontend/src/features/order/OrderHistory.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

refactor: 履歴取得のロジックをリファクタリング
  backend/src/main/java/com/example/config/GlobalExceptionHandler.java
  backend/src/main/java/com/example/controller/ProductController.java
  backend/src/main/java/com/example/dto/response/OrderHistoryResponse.java
  backend/src/main/java/com/example/service/OrderService.java
Due: backend-format, backend-lint

feat: 注文完了メール送信機能を実装
  backend/.env.example
  backend/.gitignore
  backend/build.gradle
  backend/docker-compose.yml
  backend/src/main/java/com/example/config/GlobalExceptionHandler.java
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/service/MailService.java
  backend/src/main/resources/application.yml
Due: backend-format, backend-lint

purposesテーブルにproduct_category列を追加し、書籍専用の目的一覧を取得する機能の実装
  backend/document/sql/insert-books.sql
  backend/document/sql/insert-pcs.sql
  backend/document/sql/insert-purpose.sql
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/model/Purpose.java
  backend/src/main/java/com/example/repository/PurposeRepository.java
  backend/src/main/java/com/example/service/BookService.java
Due: backend-format, backend-lint

PcとBookの各内蔵物を持つ一覧を取得するメソッドの名前を修正
  backend/document/sql/insert-purposeforbook.sql
  backend/document/sql/insert-purposeforpc.sql
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/repository/PcRepository.java
  backend/src/main/java/com/example/service/BookService.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

PC専用の目的一覧を取得する機能の実装
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

Update MailService.java
  backend/src/main/java/com/example/service/MailService.java
Due: backend-format, backend-lint

feat: stripeによるクレカの有効性チェック機能を作成
  backend/.env.example
  frontend/.env.example
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/order/OrderPage.tsx
  frontend/src/features/order/components/PaymentForm.tsx
Due: frontend-format, frontend-lint

feat: stripeによるクレカの有効性チェック機能を作成
  backend/build.gradle
  backend/src/main/java/com/example/controller/PaymentController.java
Due: backend-format, backend-lint

style: uiを修正
  frontend/src/components/ui/alert.tsx
  frontend/src/features/order/components/PaymentForm.tsx
Due: frontend-format, frontend-lint

style: エラーメッセージのスタイルを修正
  frontend/src/features/order/components/PaymentForm.tsx
Due: frontend-format, frontend-lint

chore: コメントを追加
  frontend/src/features/order/OrderPage.tsx
Due: frontend-format, frontend-lint

feat: 注文画面でカートの内容が表示されるように
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/order/OrderPage.tsx
  frontend/src/types/cartProduct.ts
Due: frontend-format, frontend-lint

osテーブルのスペル修正及びPCの各部品の一覧結果を返す機能の実装
  backend/document/sql/insert-oses.sql
  backend/document/sql/insert-oss.sql
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/model/Os.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

複合条件を持った場合でもPCのリストを返す機能の実装
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/PcRepository.java
  backend/src/main/java/com/example/repository/PcRepositoryCustom.java
  backend/src/main/java/com/example/repository/PcRepositoryImpl.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

fix: カートに登録されたものが正しく注文されるように修正
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/dto/request/OrderRequest.java
  backend/src/main/java/com/example/dto/response/CartProductResponse.java
  frontend/src/features/order/OrderPage.tsx
  frontend/src/types/cartProduct.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: 注文履歴を注文順で表示 + 日付が正しく表示されるように
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/dto/request/OrderRequest.java
  backend/src/main/java/com/example/model/Order.java
  backend/src/main/java/com/example/repository/OrderRepository.java
  backend/src/main/java/com/example/service/OrderService.java
  frontend/package-lock.json
  frontend/src/features/order/OrderHistory.tsx
  frontend/src/features/order/OrderPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: 注文完了時にカートから商品を削除するように
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/dto/request/OrderProductRequest.java
  backend/src/main/java/com/example/dto/request/OrderRequest.java
  frontend/src/components/ui/button.tsx
  frontend/src/features/order/OrderPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

fix: 合計金額の計算をメモ化
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/order/OrderPage.tsx
Due: frontend-format, frontend-lint

feat: 注文画面でuser情報の取得、住所検索ができるように
  backend/src/main/java/com/example/controller/UserController.java
  backend/src/main/java/com/example/dto/response/UserResponse.java
  frontend/src/api/fetchAddress.ts
  frontend/src/features/order/OrderPage.tsx
  frontend/src/features/order/schema/orderSchema.ts
  frontend/src/features/user/UserRegisterPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: ユーザー情報、カート情報がない場合に注文確定を押せないように
  frontend/src/features/order/OrderPage.tsx
Due: frontend-format, frontend-lint

style: 注文処理中のローディングを追加
  frontend/src/features/order/OrderPage.tsx
Due: frontend-format, frontend-lint

複合条件を持った場合でもページングされたBookのリストを返す機能の実装
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/repository/BookRepositoryCustom.java
  backend/src/main/java/com/example/repository/BookRepositoryImpl.java
  backend/src/main/java/com/example/service/BookService.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

Path conditions:
  frontend-format: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^frontend/
  frontend-lint: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^frontend/
  backend-format: any of: *.java and ^backend/
  backend-lint: any of: **/*.java and ^backend/
