Repository ec-202504/ec-202504c: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

lefthook.yml:

pre-commit:
  # format: apply changes in a front and back end app
  # lint: don't apply changes in a front and back end app
  commands:
    frontend-format:
      root: "frontend/"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome lint --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    backend-format:
      root: "backend/"
      glob: "*.java"
      run: ./gradlew spotlessApply
      stage_fixed: true
    backend-lint:
      root: "backend/"
      glob: "**/*.java"
      run: ./gradlew checkstyleMain

曖昧検索後入力フォームの初期化
  frontend/src/features/product/components/SearchForm.tsx
  frontend/src/features/product/hooks/useProductFilters.ts
Due: frontend-format, frontend-lint

Book側にも同様の機能を実装
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/service/BookService.java
Due: backend-format, backend-lint

JWTトークン認証周りの設定(実装中)
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/example/config/JwtKeyConfig.java
  backend/src/main/java/com/example/config/JwtKeyProvider.java
  backend/src/main/java/com/example/config/SecurityConfig.java
  backend/src/main/java/com/example/service/secuiry/JwtTokenProvider.java
Due: backend-format, backend-lint

feat: カートの中身をログイン前後で取得できるように
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/repository/CartProductRepository.java
  backend/src/main/java/com/example/service/CartProductService.java
Due: backend-format, backend-lint

feat: ログイン前後でカートの中身を入れるように
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/repository/CartProductRepository.java
  backend/src/main/java/com/example/service/CartProductService.java
Due: backend-format, backend-lint

chore: refactor
  backend/src/main/java/com/example/model/Review.java
  frontend/src/features/cart/CartPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

レコメンド表示欄の追加
  frontend/src/features/product/components/RecommendedProducts.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/mocks/pcData.ts
Due: frontend-format, frontend-lint

feat: ログイン時にsessionで管理しているカートをマージ
  backend/src/main/java/com/example/controller/UserController.java
  backend/src/main/java/com/example/service/CartProductService.java
Due: backend-format, backend-lint

推薦欄の追加
  frontend/src/features/product/components/RecommendedProducts.tsx
  frontend/src/features/product/components/SimilarUserProducts.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

feat: jotaiを追加、headerのリンクを整理
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/Header.tsx
  frontend/src/features/product/ComparePage.tsx
  frontend/src/features/product/ProductRecommendPage.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/product/compare.tsx
  frontend/src/routes/product/recommend.tsx
Due: frontend-format, frontend-lint

書籍に難易度columnを追加し、影響があるファイルを修正
  backend/document/sql/insert-books.sql
  backend/document/sql/insert-difficulties.sql
  backend/document/sql/insert-orders.sql
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/dto/request/AddBookRequest.java
  backend/src/main/java/com/example/dto/request/UpdateBookRequest.java
  backend/src/main/java/com/example/dto/response/BookDetailResponse.java
  backend/src/main/java/com/example/dto/response/BookOverviewResponse.java
  backend/src/main/java/com/example/model/Book.java
  backend/src/main/java/com/example/model/Difficulty.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/repository/BookRepositoryCustom.java
  backend/src/main/java/com/example/repository/BookRepositoryImpl.java
  backend/src/main/java/com/example/repository/DifficultyRepository.java
  backend/src/main/java/com/example/service/BookService.java
Due: backend-format, backend-lint

コンテンツベースの推薦結果の取得
  frontend/src/features/product/components/PcInfo.tsx
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/ProductPagination.tsx
  frontend/src/features/product/components/RecommendedProducts.tsx
  frontend/src/features/product/components/SearchForm.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Pc.ts
  frontend/src/features/product/utils/pcConverter.ts
Due: frontend-format, frontend-lint

JWT認証の実装
  backend/Dockerfile
  backend/src/main/java/com/example/config/GlobalExceptionHandler.java
  backend/src/main/java/com/example/config/JwtKeyConfig.java
  backend/src/main/java/com/example/config/JwtKeyProvider.java
  backend/src/main/java/com/example/config/JwtTokenProvider.java
  backend/src/main/java/com/example/config/SecurityConfig.java
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/controller/UserController.java
  backend/src/main/java/com/example/service/UserService.java
  backend/src/main/java/com/example/service/secuiry/JwtTokenProvider.java
  backend/src/main/java/com/example/validation/UniqueEmailValidator.java
  frontend/src/components/layout/Header.tsx
  frontend/src/features/user/UserLoginPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

ストレージサイズが1024GB以上の時はTB表記になるように修正
  frontend/src/features/product/components/PcSpecList.tsx
Due: frontend-format, frontend-lint

feat: jotainをinstall
  frontend/package-lock.json
  frontend/package.json
  frontend/src/stores/compareAtom.ts
Due: frontend-format, frontend-lint

絞り込み条件の並び順変更
  frontend/src/features/product/components/Sidebar.tsx
  frontend/src/features/product/hooks/useProductData.ts
  frontend/src/features/product/hooks/useProductFilters.ts
Due: frontend-format, frontend-lint

タブ切り替え時に絞り込み条件が反映されない不具合を修正
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/hooks/useProductFilters.ts
Due: frontend-format, frontend-lint

ログイン画面新規登録画面に商品一覧画面への導線を追加
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/features/user/UserRegisterPage.tsx
Due: frontend-format, frontend-lint

コメントの修正
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/features/user/UserRegisterPage.tsx
Due: frontend-format, frontend-lint

スタイルの修正
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/features/user/UserRegisterPage.tsx
Due: frontend-format, frontend-lint

feat: 比較ページを作成
  frontend/src/features/compare/ComparePage.tsx
  frontend/src/features/compare/components/CompareProductCard.tsx
  frontend/src/features/compare/components/CompareProductList.tsx
  frontend/src/features/compare/components/CompareProductSelector.tsx
  frontend/src/features/compare/components/SpecTable.tsx
  frontend/src/features/compare/data/products.ts
  frontend/src/features/compare/types/index.ts
  frontend/src/features/product/ComparePage.tsx
  frontend/src/routes/product/compare.tsx
Due: frontend-format, frontend-lint

refactor
  frontend/src/features/compare/ComparePage.tsx
  frontend/src/features/compare/components/CompareProductSelector.tsx
  frontend/src/features/compare/components/SpecTable.tsx
Due: frontend-format, frontend-lint

refactor: 商品追加、削除用のメソッドに分離
  frontend/src/features/compare/ComparePage.tsx
  frontend/src/features/compare/components/CompareProductSelector.tsx
Due: frontend-format, frontend-lint

フロントの認証フィルター実装
  backend/.env.example
  backend/src/main/java/com/example/config/JwtTokenProvider.java
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/controller/UserController.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/service/BookService.java
  frontend/src/components/layout/Header.tsx
  frontend/src/components/ui/error-alert.tsx
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/product/components/ReviewForm.tsx
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/lib/axiosInstance.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/order/$orderId/complete.tsx
  frontend/src/routes/order/history.tsx
  frontend/src/stores/compareAtom.ts
  frontend/src/types/user.ts
  frontend/src/utils/jwtDecoder.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

注文確認画面をログイン前に表示できないようにした
  frontend/src/routes/order/index.tsx
Due: frontend-format, frontend-lint

feat: starを出せる小数点単位で出せるように
  frontend/src/components/RatingStars.tsx
  frontend/src/features/compare/components/CompareProductCard.tsx
  frontend/src/features/product/components/BookInfo.tsx
  frontend/src/features/product/components/PcInfo.tsx
  frontend/src/features/product/components/RatingStars.tsx
  frontend/src/features/product/components/ReviewItem.tsx
Due: frontend-format, frontend-lint

chore: 命名を統一
  frontend/src/components/layout/Header.tsx
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/comparison/components/ComparisonProductCard.tsx
  frontend/src/features/comparison/components/ComparisonProductList.tsx
  frontend/src/features/comparison/components/ComparisonProductSelector.tsx
  frontend/src/features/comparison/components/SpecTable.tsx
  frontend/src/features/comparison/data/products.ts
  frontend/src/features/comparison/types/index.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/product/compare.tsx
  frontend/src/routes/product/comparison.tsx
Due: frontend-format, frontend-lint

chore: 注文時の数量選択の上限値を変更
  frontend/src/features/product/components/BookInfo.tsx
  frontend/src/features/product/components/PcInfo.tsx
  frontend/src/stores/productComparisonAtom.ts
Due: frontend-format, frontend-lint

feat: 選択した商品をlocalstorage, jotaiに保存
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/stores/productComparisonAtom.ts
Due: frontend-format, frontend-lint

feat: 商品クリアボタンを追加
  frontend/src/features/product/ProductPage.tsx
Due: frontend-format, frontend-lint

feat: 追加した商品の詳細が表示されるように
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/comparison/components/ComparisonProductCard.tsx
  frontend/src/features/comparison/components/ComparisonProductList.tsx
  frontend/src/features/comparison/components/SpecTable.tsx
  frontend/src/stores/productComparisonAtom.ts
Due: frontend-format, frontend-lint

商品一覧画面にレビューの平均とレビュー数を表示
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/Sidebar.tsx
  frontend/src/features/product/hooks/useProductData.ts
  frontend/src/features/product/types/Product.ts
Due: frontend-format, frontend-lint

サイドバーのスタイルの調整
  frontend/src/features/product/components/Sidebar.tsx
Due: frontend-format, frontend-lint

atomファイル名の変更、shadcn Alertの導入
  frontend/src/components/layout/Header.tsx
  frontend/src/components/ui/error-alert.tsx
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/product/components/ReviewForm.tsx
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/order/$orderId/complete.tsx
  frontend/src/routes/order/history.tsx
  frontend/src/routes/order/index.tsx
  frontend/src/stores/userAtom.ts
Due: frontend-format, frontend-lint

feat: localstorageから取得した値を比較可能に
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/comparison/components/ComparisonProductList.tsx
  frontend/src/features/comparison/components/ComparisonProductSelector.tsx
  frontend/src/features/comparison/data/products.ts
Due: frontend-format, frontend-lint

refactor: メソッドを簡略化
  frontend/src/features/comparison/ComparisonPage.tsx
Due: frontend-format, frontend-lint

fix: デフォルトで比較商品が選択されるように
  frontend/src/features/comparison/ComparisonPage.tsx
Due: frontend-format, frontend-lint

feat: 比較ページで比較できるように
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/comparison/components/ComparisonProductList.tsx
  frontend/src/features/comparison/components/ComparisonStatusBar.tsx
Due: frontend-format, frontend-lint

feat: 比較ページで選択した商品をクリアできるように
  frontend/src/features/comparison/components/ComparisonStatusBar.tsx
Due: frontend-format, frontend-lint

本の詳細画面についても同様にレコメンドが表示されるように修正
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/PcInfo.tsx
  frontend/src/features/product/components/PcSpecList.tsx
  frontend/src/features/product/components/RecommendedByContentBaseProducts.tsx
  frontend/src/features/product/components/RecommendedByUserBaseProducts.tsx
  frontend/src/features/product/components/SimilarUserProducts.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Book.ts
  frontend/src/features/product/types/Pc.ts
  frontend/src/features/product/types/RawBook.ts
  frontend/src/features/product/utils/bookConverter.ts
Due: frontend-format, frontend-lint
