Repository ec-202504/ec-202504c: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

lefthook.yml:

pre-commit:
  # format: apply changes in a front and back end app
  # lint: don't apply changes in a front and back end app
  commands:
    frontend-format:
      root: "frontend/"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome lint --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    backend-format:
      root: "backend/"
      glob: "*.java"
      run: ./gradlew spotlessApply
      stage_fixed: true
    backend-lint:
      root: "backend/"
      glob: "**/*.java"
      run: ./gradlew checkstyleMain

feat: 注文完了画面で注文の詳細を表示
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/dto/response/OrderHistoryResponse.java
  backend/src/main/java/com/example/service/OrderService.java
  frontend/src/features/order/OrderComplete.tsx
  frontend/src/features/order/OrderHistory.tsx
  frontend/src/features/order/OrderPage.tsx
  frontend/src/features/order/components/OrderInfoCard.tsx
  frontend/src/features/order/components/OrderProductSummaryCard.tsx
  frontend/src/features/order/components/OrderProductTable.tsx
  frontend/src/features/order/types/order.ts
  frontend/src/features/order/utils/formatLocalDate.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/order/$orderId/complete.tsx
  frontend/src/routes/order/complete.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

chore: dtoファイルの命名を変更
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/dto/response/OrderDetailResponse.java
  backend/src/main/java/com/example/service/OrderService.java
Due: backend-format, backend-lint

feat: 曖昧検索機能を実装
  frontend/src/features/product/ProductPage.tsx
Due: frontend-format, frontend-lint

feat: オートコンプリート機能を実装
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/PcController.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/features/product/components/SearchForm.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: パフォーマンス対策として件数やリクエスト回数を制限
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/repository/PcRepository.java
  backend/src/main/java/com/example/service/BookService.java
  backend/src/main/java/com/example/service/PcService.java
  frontend/src/features/product/components/SearchForm.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: pc詳細画面でレビューを表示させる
  backend/document/sql/insert-review.sql
  backend/src/main/java/com/example/controller/ReviewController.java
  backend/src/main/java/com/example/dto/response/ReviewResponse.java
  backend/src/main/java/com/example/repository/ReviewRepository.java
  backend/src/main/java/com/example/service/ReviewService.java
  frontend/src/features/product/api/reviewApi.ts
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Review.ts
  frontend/src/features/product/types/index.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

コンフリ解消の時に間違えて消したimportの上げ直し
  backend/src/main/java/com/example/controller/BookController.java
Due: backend-format, backend-lint

コンテンツベースフィルタリングの簡易版実装
  backend/src/main/java/com/example/controller/PcController.java
Due: backend-format, backend-lint

検索条件をバックエンドから取得
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/components/SearchForm.tsx
  frontend/src/features/product/components/Sidebar.tsx
  frontend/src/features/product/types/FilterTerm.ts
Due: frontend-format, frontend-lint

fix: 注文時に登録したメールアドレスにメールが届くように
  backend/src/main/java/com/example/controller/OrderController.java
Due: backend-format, backend-lint

chore: 不要なファイルを削除
  backend/document/sql/insert-review.sql
  frontend/src/features/product/book/BookReview.tsx
  frontend/src/features/product/pc/PcReview.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/product/book/$itemId/review.tsx
  frontend/src/routes/product/pc/$itemId/review.tsx
Due: frontend-format, frontend-lint

refactor: pc詳細画面のリファクタリング
  frontend/src/features/product/components/PcInfo.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Review.ts
Due: frontend-format, frontend-lint

rafactor: レビュー部分をコンポーネント化
  frontend/src/features/product/components/ReviewInfo.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

feat: 本の詳細画面でレビューが取得できるように
  frontend/src/features/product/book/BookDetail.tsx
Due: frontend-format, frontend-lint

lintの修正
  frontend/.env.example
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/features/product/components/Sidebar.tsx
  frontend/src/features/product/types/FilterTerm.ts
Due: frontend-format, frontend-lint

feat: tabの状態が保持され、ブラウザバックできるように
  frontend/src/features/product/ProductPage.tsx
  frontend/src/routes/product/index.tsx
Due: frontend-format, frontend-lint

fix: 不要な情報をdtoから削除
  backend/src/main/java/com/example/dto/response/ReviewResponse.java
  backend/src/main/java/com/example/service/ReviewService.java
  frontend/src/features/product/types/Review.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

lintの修正
  frontend/src/features/product/ProductPage.tsx
Due: frontend-format, frontend-lint

feat: review登録のバックエンドを作成
  backend/src/main/java/com/example/controller/ReviewController.java
  backend/src/main/java/com/example/dto/request/AddReviewRequest.java
  backend/src/main/java/com/example/service/ReviewService.java
Due: backend-format, backend-lint

fix: global Exceptionを編集
  backend/src/main/java/com/example/config/GlobalExceptionHandler.java
Due: backend-format, backend-lint

pageを0で初期化するように修正
  frontend/src/features/product/ProductPage.tsx
Due: frontend-format, frontend-lint

feat: pc,bookでレビューを投稿できるように
  frontend/src/components/ui/textarea.tsx
  frontend/src/features/product/api/reviewApi.ts
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/ReviewForm.tsx
  frontend/src/features/product/components/ReviewInfo.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/schema/reviewSchema.ts
Due: frontend-format, frontend-lint

パスワードのハッシュ化、検証、Spring Security用のCORS設定
  backend/.env.example
  backend/build.gradle
  backend/src/main/java/com/example/config/PasswordEncoderConfig.java
  backend/src/main/java/com/example/config/SecurityConfig.java
  backend/src/main/java/com/example/config/WebConfig.java
  backend/src/main/java/com/example/controller/UserController.java
  backend/src/main/java/com/example/dto/security/CustomUserDetails.java
  backend/src/main/java/com/example/service/UserService.java
  backend/src/main/java/com/example/service/secuiry/CustomUserDetailsService.java
  frontend/.env.example
  frontend/src/features/user/UserLoginPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: pathからproduct category, product idを取得するように
  backend/src/main/java/com/example/controller/ReviewController.java
  backend/src/main/java/com/example/dto/request/AddReviewRequest.java
  backend/src/main/java/com/example/service/ReviewService.java
Due: backend-format, backend-lint

.env.exampleの復活
  backend/.env.example
  frontend/.env.example
Due: none

useEffectをまとめた
  frontend/src/features/product/ProductPage.tsx
Due: frontend-format, frontend-lint

feat: レビューテーブルに投稿日を追加
  backend/document/sql/insert-review.sql
  backend/src/main/java/com/example/dto/response/ReviewResponse.java
  backend/src/main/java/com/example/model/Review.java
  backend/src/main/java/com/example/service/ReviewService.java
Due: backend-format, backend-lint

feat: reviewを投稿できるように
  backend/src/main/java/com/example/config/GlobalExceptionHandler.java
  frontend/src/features/product/api/reviewApi.ts
  frontend/src/features/product/components/ReviewForm.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

refactor: 不要な記述を削除
  backend/src/main/java/com/example/service/ReviewService.java
  frontend/src/features/product/components/ReviewForm.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: レビューの投稿日を表示できるように
  frontend/src/features/product/components/ReviewInfo.tsx
  frontend/src/features/product/components/ReviewItem.tsx
  frontend/src/features/product/types/Review.ts
Due: frontend-format, frontend-lint

feat: 日付のフォーマット処理を共通化
  frontend/src/features/order/OrderHistory.tsx
  frontend/src/features/order/components/OrderInfoCard.tsx
  frontend/src/features/order/utils/formatFrontDate.ts
  frontend/src/features/product/components/ReviewItem.tsx
  frontend/src/utils/formatToFrontDate.ts
  frontend/src/utils/formatToLocalDate.ts
Due: frontend-format, frontend-lint

リファクタ
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/hooks/useProductData.ts
  frontend/src/features/product/hooks/useProductFilters.ts
  frontend/src/features/product/types/filters.ts
  frontend/src/features/product/types/index.ts
  frontend/src/features/product/utils/filters.ts
  frontend/src/features/product/utils/searchHandlers.ts
Due: frontend-format, frontend-lint

feat: レビュー順の最新順で取得できるように
  backend/src/main/java/com/example/repository/ReviewRepository.java
  backend/src/main/java/com/example/service/ReviewService.java
Due: backend-format, backend-lint

chore: linterエラーを解消
  backend/src/main/java/com/example/service/ReviewService.java
Due: backend-format, backend-lint

協調フィルタリングによるアイテムの推薦機能の実装
  backend/document/sql/insert-order-products.sql
  backend/document/sql/insert-orders.sql
  backend/document/sql/insert-user.sql
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/model/ProductKey.java
  backend/src/main/java/com/example/repository/BookRepositoryCustom.java
  backend/src/main/java/com/example/repository/BookRepositoryImpl.java
  backend/src/main/java/com/example/repository/PcRepositoryCustom.java
  backend/src/main/java/com/example/repository/PcRepositoryImpl.java
  backend/src/main/java/com/example/service/OrderService.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

絞り込み条件に一致しないものを検索フォームに入力したときに選択状況がクリアされるように修正
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/features/product/components/ProductPagination.tsx
  frontend/src/features/product/hooks/useProductData.ts
  frontend/src/features/product/hooks/useProductFilters.ts
Due: frontend-format, frontend-lint

refactor: レビュー登録処理のリファクタリング
  backend/src/main/java/com/example/controller/ReviewController.java
  backend/src/main/java/com/example/service/ReviewService.java
Due: backend-format, backend-lint

予算の上限を設定できるように修正
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/features/product/components/Sidebar.tsx
  frontend/src/features/product/hooks/useProductFilters.ts
  frontend/src/features/product/types/filters.ts
  frontend/src/features/product/utils/filters.ts
Due: frontend-format, frontend-lint

未使用のメソッドの削除
  frontend/src/features/product/utils/searchHandlers.ts
Due: frontend-format, frontend-lint
