Repository ec-202504/ec-202504c: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

lefthook.yml:

pre-commit:
  # format: apply changes in a front and back end app
  # lint: don't apply changes in a front and back end app
  commands:
    frontend-format:
      root: "frontend/"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome lint --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    backend-format:
      root: "backend/"
      glob: "*.java"
      run: ./gradlew spotlessApply
      stage_fixed: true
    backend-lint:
      root: "backend/"
      glob: "**/*.java"
      run: ./gradlew checkstyleMain

feat: cardクリック時に詳細ページへ遷移するように
  frontend/src/features/comparison/components/ComparisonProductCard.tsx
Due: frontend-format, frontend-lint

feat: カート追加ロジックを実装
  frontend/src/features/comparison/components/ComparisonProductCard.tsx
Due: frontend-format, frontend-lint

レコメンドされた商品のカードをクリックしたときにスクロール位置が保持されていた不具合を修正
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

exportの修正
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/RecommendedByUserBaseProducts.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/index.ts
Due: frontend-format, frontend-lint

feat: クリックで比較対象を選択可能に
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/features/product/types/constants.ts
Due: frontend-format, frontend-lint

feat: tabの命名を商品一覧ページと統一
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/comparison/components/ComparisonProductCard.tsx
  frontend/src/features/comparison/components/ComparisonProductList.tsx
  frontend/src/features/comparison/components/ComparisonProductSelector.tsx
  frontend/src/features/comparison/components/ComparisonStatusBar.tsx
  frontend/src/features/comparison/components/SpecTable.tsx
  frontend/src/features/comparison/types/index.ts
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/components/ProductComparisonStatusBar.tsx
  frontend/src/features/product/hooks/useProductFilters.ts
Due: frontend-format, frontend-lint

chore: トップページのデフォルトタブを指定
  frontend/src/components/layout/Header.tsx
Due: frontend-format, frontend-lint

refactor
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/comparison/components/ComparisonStatusBar.tsx
  frontend/src/features/comparison/components/SpecTable.tsx
  frontend/src/features/product/components/ProductComparisonStatusBar.tsx
Due: frontend-format, frontend-lint

UIの調整
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/BookInfo.tsx
  frontend/src/features/product/components/PcInfo.tsx
Due: frontend-format, frontend-lint

パスワード堅牢化、見える化。ログイン画面と登録画面修正
  backend/src/main/java/com/example/controller/UserController.java
  frontend/package-lock.json
  frontend/src/components/password-input.tsx
  frontend/src/features/order/OrderPage.tsx
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/features/user/UserRegisterPage.tsx
  frontend/src/features/user/schema/registerFormSchema.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

ログの削除、注文確認ページとユーザー登録画面のバリデーションを合わせた
  backend/src/main/java/com/example/controller/UserController.java
  frontend/src/features/order/OrderPage.tsx
  frontend/src/features/order/schema/orderSchema.ts
  frontend/src/features/user/UserLoginPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

ユーザー登録時メールアドレスチェックのロジック変更、ログイン画面のimport修正
  backend/src/main/java/com/example/controller/UserController.java
  backend/src/main/java/com/example/service/UserService.java
  backend/src/main/java/com/example/validation/UniqueEmailValidator.java
  frontend/package-lock.json
  frontend/src/features/user/UserRegisterPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

バックでsessionやuserIdを定義していた箇所を、jwt経由でユーザーを取得するようにした
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/controller/ReviewController.java
Due: backend-format, backend-lint

fix: フロントのバグを修正
  frontend/src/features/order/OrderPage.tsx
  frontend/src/features/user/UserLoginPage.tsx
Due: frontend-format, frontend-lint

fix: 登録画面をonChangeに
  frontend/src/features/user/UserRegisterPage.tsx
Due: frontend-format, frontend-lint

fix: 商品一覧へのページ遷移を修正
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/features/user/UserRegisterPage.tsx
  frontend/src/features/user/components/UserHeader.tsx
Due: frontend-format, frontend-lint

データベースの修正
  backend/document/sql/insert-books.sql
  backend/document/sql/insert-cpus.sql
  backend/document/sql/insert-difficulties.sql
  backend/document/sql/insert-gpus.sql
  backend/document/sql/insert-languages.sql
  backend/document/sql/insert-oses.sql
  backend/document/sql/insert-pcs.sql
  backend/document/sql/insert-purpose.sql
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/dto/response/BookOverviewResponse.java
  backend/src/main/java/com/example/model/Book.java
  backend/src/main/java/com/example/model/Pc.java
Due: backend-format, backend-lint

商品詳細画面の修正
  frontend/src/components/RatingStars.tsx
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/RecommendedByContentBaseProducts.tsx
  frontend/src/features/product/components/RecommendedByUserBaseProducts.tsx
  frontend/src/features/product/hooks/useProductData.ts
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/utils/productConverter.ts
Due: frontend-format, frontend-lint

マージ用で一旦commit
  backend/.gitignore
  backend/document/sql/insert-pcs.sql
  backend/private_key.pem
  backend/public_key.pem
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/model/Book.java
  backend/src/main/java/com/example/model/Pc.java
Due: backend-format, backend-lint

Delete backend/private_key.pem
  backend/private_key.pem
Due: none

Delete backend/public_key.pem
  backend/public_key.pem
Due: none

userIdがなければ協調フィルタリング結果取得APIへのリクエストを投げないように修正
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

未ログイン時に協調フィルタリング結果取得APIにリクエストを投げないように修正
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

fix: 認証フィルター
  backend/src/main/java/com/example/model/User.java
  frontend/src/routes/__root.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: top pageを作成
  frontend/src/components/layout/Header.tsx
  frontend/src/features/TopPage.tsx
  frontend/src/routes/index.tsx
Due: frontend-format, frontend-lint

feat: headerを修正
  frontend/src/components/layout/Header.tsx
Due: frontend-format, frontend-lint

feat: 注文履歴のUIを修正
  frontend/src/features/order/OrderHistory.tsx
Due: frontend-format, frontend-lint

デバック用
  frontend/src/features/product/components/BookInfo.tsx
Due: frontend-format, frontend-lint

chore: lintエラーを解消
  backend/src/main/java/com/example/config/JwtKeyConfig.java
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/controller/ReviewController.java
  backend/src/main/java/com/example/model/Difficulty.java
  backend/src/main/java/com/example/model/Purpose.java
  backend/src/main/java/com/example/model/Review.java
  backend/src/main/java/com/example/repository/BookRepositoryCustom.java
  backend/src/main/java/com/example/repository/BookRepositoryImpl.java
  backend/src/main/java/com/example/repository/PcRepositoryImpl.java
  backend/src/main/java/com/example/service/BookService.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

chore: 要件定義を追加
  .cursor/prd.md
  .cursor/rules/global.mdc
Due: none

デバック用
  frontend/src/features/product/components/RecommendedByUserBaseProducts.tsx
  frontend/src/features/product/hooks/useProductData.ts
Due: frontend-format, frontend-lint

協調フィルタリングの結果を表示
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/types/user.ts
Due: frontend-format, frontend-lint

style: Header, Top Pageのデザインを統一
  frontend/src/components/layout/Header.tsx
  frontend/src/features/TopPage.tsx
  frontend/src/index.css
Due: frontend-format, frontend-lint

chore: fontをインストール
  frontend/src/features/TopPage.tsx
  frontend/src/index.css
Due: frontend-format, frontend-lint

style: 共通layoutを適用
  frontend/src/components/layout/Layout.tsx
  frontend/src/features/product/ProductPage.tsx
  frontend/src/routes/__root.tsx
Due: frontend-format, frontend-lint

ログイン前カートをログイン後ユーザーにマージ
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/controller/UserController.java
  backend/src/main/java/com/example/model/User.java
  backend/src/main/java/com/example/repository/CartProductRepository.java
  backend/src/main/java/com/example/service/CartProductService.java
  frontend/src/features/cart/CartPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

chore: 絞り込み条件UI修正
  frontend/src/components/layout/Header.tsx
  frontend/src/features/product/components/ProductComparisonStatusBar.tsx
  frontend/src/features/product/components/Sidebar.tsx
  frontend/src/index.css
Due: frontend-format, frontend-lint

chore: タイトルを変更
  frontend/index.html
  frontend/src/components/layout/Header.tsx
Due: frontend-format, frontend-lint

style: productページのUI統一
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/ProductComparisonStatusBar.tsx
  frontend/src/features/product/components/ProductList.tsx
  frontend/src/index.css
  frontend/src/utils/formatPriceWithComma.ts
Due: frontend-format, frontend-lint
