Repository ec-202504/ec-202504c: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

frontend-format:
  run: npx @biomejs/biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

frontend-lint:
  run: npx @biomejs/biome lint --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

backend-format:
  run: ./gradlew spotlessApply
  stage_fixed: true

backend-lint:
  run: ./gradlew checkstyleMain

chore: linterエラーを解消
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/repository/CartProductRepository.java
Due: backend-format, backend-lint

feat: カートの数量が変更できるように
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/dto/request/UpdateCartQuantityRequest.java
  frontend/src/features/cart/CartPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: debounce処理を追加
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/cart/CartPage.tsx
Due: frontend-format, frontend-lint

feat: id順にカートの内容を返却するように
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/repository/CartProductRepository.java
  backend/src/main/java/com/example/service/CartProductService.java
Due: backend-format, backend-lint

feat: カートの中身を削除する処理
  Makefile
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/service/CartProductService.java
  frontend/src/features/cart/CartPage.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

本の詳細情報が表示されるように修正
  backend/src/main/java/com/example/controller/BookController.java
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/BookInfo.tsx
  frontend/src/features/product/components/BookSpecList.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/RawBook.ts
  frontend/src/features/product/types/index.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: toastを追加
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/sonner.tsx
  frontend/src/features/cart/CartPage.tsx
  frontend/src/routes/__root.tsx
Due: frontend-format, frontend-lint

ログアウト機能、またログイン状態を判定するエンドポイントの作成
  backend/src/main/java/com/example/config/WebConfig.java
  backend/src/main/java/com/example/controller/UserController.java
  frontend/src/components/layout/Header.tsx
  frontend/src/lib/axiosInstance.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/user/login.tsx
  frontend/src/routes/user/logout.tsx
  frontend/src/routes/user/register.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

chore: toStringを削除
  backend/src/main/java/com/example/dto/request/UpdateCartQuantityRequest.java
Due: backend-format, backend-lint

chore: soutを削除
  backend/src/main/java/com/example/controller/CartProductController.java
Due: backend-format, backend-lint

fix: ステータスコードをcontrollerで返すように
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/service/CartProductService.java
Due: backend-format, backend-lint

Update README.md
  README.md
Due: none

feat:　カート追加時にsessionIdを取得するように
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/dto/request/AddCartProductRequest.java
Due: backend-format, backend-lint

詳細情報を取得できなかった時用の要素をコンポーネントに切り出し
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/BookSpecList.tsx
  frontend/src/features/product/components/ProductNotFound.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Book.ts
  frontend/src/features/product/types/RawBook.ts
Due: frontend-format, frontend-lint

最新のmainに合わせた修正
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

注文完了後注文商品を注文商品テーブルに保存する機能の実装
  backend/src/main/java/com/example/controller/OrderController.java
  backend/src/main/java/com/example/dto/request/OrderRequest.java
  backend/src/main/java/com/example/service/BookService.java
  backend/src/main/java/com/example/service/CartProductService.java
  backend/src/main/java/com/example/service/OrderProductService.java
  backend/src/main/java/com/example/service/OrderService.java
  backend/src/main/java/com/example/service/PcService.java
  backend/src/main/java/com/example/service/UserService.java
  frontend/src/features/order/OrderPage.tsx
  package-lock.json
Due: frontend-format, frontend-lint, backend-format, backend-lint

chore: dtoのファイル名を変更
  backend/src/main/java/com/example/controller/ProductController.java
  backend/src/main/java/com/example/dto/response/BookOverviewResponse.java
  backend/src/main/java/com/example/dto/response/PcOverviewResponse.java
  backend/src/main/java/com/example/dto/response/ProductsResponse.java
Due: backend-format, backend-lint

ログイン画面からのリンクをSPAに対応、また不要なロジックの削除、切り出し
  backend/src/main/java/com/example/controller/UserController.java
  backend/src/main/java/com/example/dto/request/LoginRequest.java
  frontend/src/components/layout/Header.tsx
  frontend/src/features/product/components/PcInfo.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Pc.ts
  frontend/src/features/product/types/RawPc.ts
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/user/logout.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

ログアウトメソッドの修正
  frontend/src/components/layout/Header.tsx
Due: frontend-format, frontend-lint

Update PcDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

Update UserLoginPage.tsx
  frontend/src/features/user/UserLoginPage.tsx
Due: frontend-format, frontend-lint

fix: pcにおいてフロントとバックの型をあわせる
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/dto/response/BookDetailResponse.java
  backend/src/main/java/com/example/dto/response/PcDetailResponse.java
  frontend/src/features/product/components/PcSpecList.tsx
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Pc.ts
  frontend/src/features/product/types/RawPc.ts
  frontend/src/features/product/types/index.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

注文履歴画面の作成
  frontend/src/features/order/OrderHistory.tsx
  frontend/src/features/product/types/index.ts
  frontend/src/features/user/UserLoginPage.tsx
Due: frontend-format, frontend-lint

fix: bookの型をフロントと統一
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/dto/response/BookDetailResponse.java
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/types/RawBook.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

言語IDを基に書籍を検索する機能を実装
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/service/BookService.java
Due: backend-format, backend-lint

fix: 消してしまった分を修正
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

Update BookService.java
  backend/src/main/java/com/example/service/BookService.java
Due: backend-format, backend-lint

Update BookRepository.java
  backend/src/main/java/com/example/repository/BookRepository.java
Due: backend-format, backend-lint

Update BookController.java
  backend/src/main/java/com/example/controller/BookController.java
Due: backend-format, backend-lint

目的IDを基に書籍一覧を取得する機能の実装
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/repository/BookRepository.java
  backend/src/main/java/com/example/service/BookService.java
  frontend/package-lock.json
  package-lock.json
Due: frontend-format, frontend-lint, backend-format, backend-lint

CPUのIDを基に一致するPC一覧を取得する機能の実装
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/PcRepository.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

OSのIDを基に一致するPC一覧を取得する機能の実装
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/PcRepository.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

GPUのIDを基に一致するPC一覧を取得する機能の実装
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/PcRepository.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

エンドポイントの修正
  backend/src/main/java/com/example/controller/BookController.java
Due: backend-format, backend-lint

PurposeのIDを基に一致するPC一覧を取得する機能の実装
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/repository/PcRepository.java
  backend/src/main/java/com/example/service/PcService.java
Due: backend-format, backend-lint

書籍に定義可能な言語の一覧取得機能の実装
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/service/BookService.java
Due: backend-format, backend-lint

Path conditions:
  frontend-format: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^frontend/
  frontend-lint: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^frontend/
  backend-format: any of: *.java and ^backend/
  backend-lint: any of: **/*.java and ^backend/
