Repository ec-202504/ec-202504c: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint

lefthook.yml:

pre-commit:
  # format: apply changes in a front and back end app
  # lint: don't apply changes in a front and back end app
  commands:
    frontend-format:
      root: "frontend/"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    frontend-lint:
      root: "frontend/"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome lint --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    backend-format:
      root: "backend/"
      glob: "*.java"
      run: ./gradlew spotlessApply
      stage_fixed: true
    backend-lint:
      root: "backend/"
      glob: "**/*.java"
      run: ./gradlew checkstyleMain

協調フィルタリングの改良
  backend/document/sql/insert-all.sql
  backend/src/main/java/com/example/controller/PcController.java
Due: backend-format, backend-lint

style: 比較追加ボタンを変更
  frontend/src/features/product/components/ProductCard.tsx
Due: frontend-format, frontend-lint

協調フィルタリングの改良をBook側にも適用
  backend/src/main/java/com/example/controller/BookController.java
Due: backend-format, backend-lint

style: 比較ページのUI調整
  frontend/index.html
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/features/comparison/components/ComparisonStatusBar.tsx
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/Sidebar.tsx
Due: frontend-format, frontend-lint

協調フィルタリングの結果取得APIからの結果を表示
  frontend/src/features/order/OrderComplete.tsx
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/RecommendedByContentBaseProducts.tsx
  frontend/src/features/product/components/RecommendedByUserBaseProducts.tsx
  frontend/src/features/product/hooks/useProductData.ts
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Book.ts
  frontend/src/features/product/types/Pc.ts
  frontend/src/features/product/utils/productConverter.ts
Due: frontend-format, frontend-lint

デバック用ログの削除
  frontend/src/components/RatingStars.tsx
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

feat: icon, logoを追加
  frontend/index.html
  frontend/public/icon.svg
  frontend/public/zunda.svg
  frontend/src/components/layout/Header.tsx
  frontend/src/features/TopPage.tsx
Due: frontend-format, frontend-lint

テキストの修正
  frontend/src/features/product/components/RecommendedByUserBaseProducts.tsx
Due: frontend-format, frontend-lint

feat: spec tableの単位をつける
  frontend/src/features/comparison/components/SpecTable.tsx
  frontend/src/types/constants.ts
Due: frontend-format, frontend-lint

style: fix loging and register page ui
  frontend/src/features/user/UserLoginPage.tsx
  frontend/src/features/user/UserRegisterPage.tsx
  frontend/src/features/user/components/UserHeader.tsx
Due: frontend-format, frontend-lint

style: fix cart ui
  frontend/src/features/cart/CartPage.tsx
Due: frontend-format, frontend-lint

本に難易度を追加
  frontend/src/features/product/components/BookInfo.tsx
  frontend/src/features/product/hooks/useProductData.ts
  frontend/src/features/product/hooks/useProductFilters.ts
  frontend/src/features/product/types/Book.ts
  frontend/src/features/product/types/filters.ts
  frontend/src/features/product/utils/bookConverter.ts
  frontend/src/features/product/utils/filters.ts
Due: frontend-format, frontend-lint

style: sonnerを変更
  frontend/src/components/ui/sonner.tsx
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/comparison/components/ComparisonProductCard.tsx
Due: frontend-format, frontend-lint

CSSの調整
  frontend/src/features/product/components/PcInfo.tsx
Due: frontend-format, frontend-lint

style: fix ui of comparision page
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/comparison/components/ComparisonProductCard.tsx
  frontend/src/features/comparison/components/ComparisonProductSelector.tsx
  frontend/src/features/comparison/components/ComparisonStatusBar.tsx
  frontend/src/features/comparison/components/SpecTable.tsx
Due: frontend-format, frontend-lint

ページネーションの修正
  frontend/src/features/product/components/ProductPagination.tsx
  frontend/src/features/product/hooks/useProductFilters.ts
Due: frontend-format, frontend-lint

style: fix ui of order page
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/order/OrderPage.tsx
Due: frontend-format, frontend-lint

プロパティ名の変更
  backend/document/sql/insert-all-image-binary.sql
  backend/src/main/java/com/example/controller/BookController.java
  backend/src/main/java/com/example/controller/PcController.java
  backend/src/main/java/com/example/dto/response/BookDetailResponse.java
  backend/src/main/java/com/example/dto/response/PcDetailResponse.java
  backend/src/main/java/com/example/model/Book.java
  backend/src/main/java/com/example/model/Pc.java
  backend/src/main/resources/static/index.css
Due: backend-format, backend-lint

修正
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

style: fix ui of order history page
  frontend/src/features/order/OrderHistory.tsx
Due: frontend-format, frontend-lint

style: 注文画面のUI修正
  frontend/src/features/order/OrderComplete.tsx
  frontend/src/features/order/components/OrderInfoCard.tsx
  frontend/src/features/order/components/OrderProductTable.tsx
Due: frontend-format, frontend-lint

feat: loading overlayを修正
  frontend/src/components/layout/Layout.tsx
  frontend/src/features/product/components/LoadingOverlay.tsx
  frontend/src/routes/__root.tsx
Due: frontend-format, frontend-lint

style: selectorの修正
  frontend/src/components/ui/select.tsx
  frontend/src/features/comparison/components/SpecTable.tsx
Due: frontend-format, frontend-lint

chore: 不要なimportを削除
  frontend/src/features/comparison/ComparisonPage.tsx
  frontend/src/features/order/components/OrderProductTable.tsx
Due: frontend-format, frontend-lint

fix: image url issue
  backend/src/main/java/com/example/controller/CartProductController.java
  backend/src/main/java/com/example/dto/response/CartProductResponse.java
  backend/src/main/java/com/example/dto/response/OrderProductResponse.java
  backend/src/main/java/com/example/model/Pc.java
  backend/src/main/java/com/example/service/OrderService.java
Due: backend-format, backend-lint

fix: show image
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/PcInfo.tsx
  frontend/src/features/product/components/ProductCard.tsx
  frontend/src/features/product/components/RecommendedByContentBaseProducts.tsx
  frontend/src/features/product/components/RecommendedByUserBaseProducts.tsx
  frontend/src/features/product/hooks/useProductData.ts
  frontend/src/features/product/pc/PcDetail.tsx
  frontend/src/features/product/types/Product.ts
  frontend/src/features/product/utils/formatImageByte.ts
  frontend/src/features/product/utils/productConverter.ts
Due: frontend-format, frontend-lint

fix: 画像を全ページで表示させる
  frontend/src/features/cart/CartPage.tsx
  frontend/src/features/comparison/components/ComparisonProductCard.tsx
  frontend/src/features/order/OrderHistory.tsx
  frontend/src/features/order/OrderPage.tsx
  frontend/src/features/product/components/BookInfo.tsx
  frontend/src/features/product/components/PcInfo.tsx
Due: frontend-format, frontend-lint

fix: fix style
  frontend/src/features/comparison/ComparisonPage.tsx
Due: frontend-format, frontend-lint

fix: 画像を表示させる
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/RecommendedByUserBaseProducts.tsx
Due: frontend-format, frontend-lint

style:　スタイル修正
  frontend/src/features/product/book/BookDetail.tsx
  frontend/src/features/product/components/RecommendedByContentBaseProducts.tsx
  frontend/src/features/product/components/ReviewInfo.tsx
  frontend/src/features/product/pc/PcDetail.tsx
Due: frontend-format, frontend-lint

fix: ログアウト時に明示的にuserを削除
  frontend/src/components/layout/Header.tsx
Due: frontend-format, frontend-lint

inser文の追加
  backend/document/sql/insert-all-image-binary.sql
Due: none

chore: date
  backend/document/sql/insert-all-image-binary.sql
Due: none

chore: add presentation pdf
  backend/document/tech-mate.pdf
Due: none
